version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - rabbit
    networks:
      - demo-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # allows stopping services

  frontend:
    image: nginx:alpine
    container_name: frontend
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "8080:80"
    networks:
      - demo-net

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: example
      POSTGRES_DB: example
    networks:
      - demo-net
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    networks:
      - demo-net

  rabbit:
    image: rabbitmq:3-management
    container_name: rabbit
    ports:
      - "15672:15672"
    networks:
      - demo-net

networks:
  demo-net:

volumes:
  pgdata:
